.box {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 88%;
  grid-template-rows: 15% 1fr;
  grid-template-areas:
      "header header"
      "sidebar content"
      
}
body{
margin: 0;
}

.sidebar {
grid-area: sidebar;
background-color: rgb(43, 43, 43);
border-right: 6px double white; 
border-top: 4px double white;
}

.header {
grid-area: header;
background-color: rgba(15, 15, 15, 0.911);
}

.content {
grid-area: content;
background-color: rgba(47, 101, 220, 0.35);
}

.rewe-logo{
height: 70px;
width: 77px;
margin-left: 90px;

}
.müller-logo{
height: 30px;
width: 125px;
margin-left: 100px;
margin-top: 25px;
}
.überschrift{
width: 250px;
height: 100px;
margin-left: 550px;
padding-top: 10px;
}
.dm-logo{
height: 70px;
width: 100px;
margin-left: 120px;

}
.aldi-logo{
height: 80px;
width: 70px;
margin-left: 110px;
}
.headerSchrift{
align-items: center;
justify-content: center;
display: flex;


}

.sidebar-Header{
text-align: center;
color: white;
}
.sidebar-border{
border: 1px solid rgb(255, 102, 0);
background-image: linear-gradient(-30deg, #6092dce0 30%, rgb(197, 84, 64) 60%);
text-align: center;
color: antiquewhite;
border-radius: 10px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 20px;
}
li{
list-style: none;
text-align: left;
color: black;

}
.sidebar-neueListe{
border: 1px solid antiquewhite;
margin-top: 350px;
background-image: linear-gradient(-30deg, #6092dce0 30%, rgb(197, 84, 64) 60%);
color: antiquewhite;
padding-left: 50px;
border-radius: 10px;
margin-left: 10px;
margin-right: 10px;
}

.contentheader{
text-align: center;
}
.contenteintagen{
border: 2px solid black;
margin-left: 50px;
margin-right: 75px;
background-color: #167ac6;


}

.contentpositionen{
border: 1px solid black;
margin-top: 50px;
margin-left: 50px;
margin-right: 50px;
background-color: black;


}
ul{
padding: 10px;
}
.cssdesign{
border: 3px solid rgb(131, 182, 250);
height: 20px;
margin-bottom: 5px;
text-align: center;
margin-left: 190px;
}

.buttonposition{
  margin-left: 400px;
}

.header ul li{
  list-style: none none;
  float: left;
}

.header li h1{
  margin-left: 120px;
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  margin-top: 0px;
  color: white;
  
}
h2{
  color: white;
  margin-left: 15px;

}

.textverschiebung{
  margin-left: 30px;
  
}
.cssbutton
{
color:black; /* Schriftfarbe */
font-weight:normal; /* Schriftstil */

widows: 80px; /* Breite des Buttons */
height:30px; /* Höhe des Buttons */
background:#ffffff; /* Hintergrundfarbe */
}
 
.any-linkleft{
  color:white;
  cursor:pointer;
  text-decoration: none
  
  
}

.contentÜberschrift{
  text-align: center;
}

.contenterklärung{
  text-align: center;
  margin-top: 20px;
}

.inhaltÜberschrift{
  text-align: center;
  color: black;
}

.listeneinträge{
  border: 9px groove  rgb(255, 255, 255);
  margin-left: 36px;
  margin-right: 70px;
  background-color: rgba(185, 25, 25, 0.959);
  color:rgb(243, 243, 243);
  list-style: decimal;
  list-style-position: inside;
  font-size: 20px;
  padding-left: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  
  
}
.listeneinträge-Startseite{
  border: 11px groove  rgb(255, 255, 255);
  margin-left: 36px;
  margin-right: 70px;
  background-color: rgba(185, 25, 25, 0.959);
  color: white;
  font-size: 20px;
  padding-left: 20px;
  
  
}
.viedoanpassen{
  margin-top: 50px;
  margin-left: 220px;
  margin-bottom: 20px;
  
}

.suchleistelinks{
  margin-left: 100px;
  margin-top: 4px;
}

#li{
  list-style: upper-alpha;
}

.startseiteheader{
  text-align: center;
}
.startseitetext{

  margin-left: 30px;
  margin-right: 30px;
}

