.box {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 88%;
  grid-template-rows: 15% 1fr;
  grid-template-areas:
      "header header"
      "sidebar content"
      
}
body{
margin: 0;
}

.sidebar {
grid-area: sidebar;
background-color: rgb(43, 43, 43);
border-right: 6px double white; 
border-top: 4px double white;
height: 100%;
overflow-x: hidden;
}

.header {
grid-area: header;
background-color: rgba(15, 15, 15, 0.911);
}

.content {
grid-area: content;
background-color: rgba(47, 101, 220, 0.35);
height: 100%;
overflow-x: hidden;
}

.rewe-logo{
height: 70px;
width: 77px;
margin-left: 8%;


}
.müller-logo{
height: 30px;
width: 125px;
margin-left: 8%;


}
.überschrift{
width: 250px;
height: 100px;
margin-left: 550px;
padding-top: 10px;
}
.dm-logo{
height: 70px;
width: 100px;
margin-left: 8%;

}
.aldi-logo{
height: 80px;
width: 70px;
margin-left: 8%;
}
.headerSchrift{
align-items: center;
justify-content: center;
display: flex;


}

.sidebar-Header{
text-align: center;
color: white;
}
.sidebar-border{
border: 1px solid rgb(255, 102, 0);
background-image: linear-gradient(-30deg, #6092dce0 30%, rgb(197, 84, 64) 60%);
text-align: center;
color: antiquewhite;
border-radius: 10px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 20px;
}
li{
list-style: none;
text-align: left;
color: black;

}
.sidebar-neueListe{
border: 1px solid antiquewhite;
margin-top: 350px;
background-image: linear-gradient(-30deg, #6092dce0 30%, rgb(197, 84, 64) 60%);
color: antiquewhite;
padding-left: 50px;
border-radius: 10px;
margin-left: 10px;
margin-right: 10px;
}

.contentheader{
text-align: center;
}
.contenteintagen{
border: 2px solid black;
margin-left: 50px;
margin-right: 75px;
background-color: #167ac6;


}

.contentpositionen{
border: 1px solid black;
margin-top: 50px;
margin-left: 50px;
margin-right: 50px;
background-color: black;


}
ul{
padding: 10px;

}
.cssdesign{
border: 3px solid rgb(131, 182, 250);
height: 20px;
margin-bottom: 5px;
text-align: center;
margin-left: 190px;
}

.buttonposition{
  margin-left: 400px;
}



.header li h1{
  margin-left: 120px;
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  margin-top: 0px;
  color: white;
  text-align: center;
  
}
h2{
  color: white;
  margin-left: 15px;

}

.textverschiebung{
  margin-left: 30px;
  
}
.cssbutton
{
color:black; /* Schriftfarbe */
font-weight:normal; /* Schriftstil */

widows: 80px; /* Breite des Buttons */
height:30px; /* Höhe des Buttons */
background:#ffffff; /* Hintergrundfarbe */
}
 
.any-linkleft{
  color:white;
  cursor:pointer;
  text-decoration: none
  
  
}

.contentÜberschrift{
  text-align: center;
}

.contenterklärung{
  text-align: center;
  margin-top: 20px;
}

.inhaltÜberschrift{
  text-align: center;
  color: black;
}

.listeneinträge{
  border: 9px groove  rgb(255, 255, 255);
  margin-left: 36px;
  margin-right: 70px;
  background-color: rgba(185, 25, 25, 0.959);
  color:rgb(243, 243, 243);
  list-style: decimal;
  list-style-position: inside;
  font-size: 20px;
  padding-left: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 200px;
  overflow: hidden;
  
  
}
.listeneinträge-Startseite{
  border: 11px groove  rgb(255, 255, 255);
  margin-left: 36px;
  margin-right: 70px;
  background-color: rgba(185, 25, 25, 0.959);
  color: white;
  font-size: 20px;
  padding-left: 20px;
  
  
}
.viedoanpassen{
  margin-top: 50px;
  margin-left: 29%;
  margin-bottom: 20px;
  text-align: center;
  width: 560px;
  height: 315px;
  
}

.suchleistelinks{
  margin-left: 100px;
  margin-top: 4px;
}

#li{
  list-style: upper-alpha;
}

.startseiteheader{
  text-align: center;
}
.startseitetext{

  margin-left: 30px;
  margin-right: 30px;
}

button{
  background-color: rgb(255, 255, 255);
  float: right;
  margin-left: 30px;
  margin-top: 1px;
  
}
.button1{
  background-color:white; 
  float: none;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  -webkit-appearance: checkbox;
  box-sizing: border-box;
  margin: 3px 0.5ex;
  padding: initial;
  border: initial;
  float: right;
  margin-left: 20px;
}

.farbenauswahl{
  margin-left: 40%;
}

.headeroriginal{
  margin-left: 8%;
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  margin-top: 0px;
  color: white;
  text-align: center;
  
}

.datumsanzeige{
  margin-left: 42%;
  border: 1px solid #272b29;
  width: fit-content;
  background-color: #272b29;
  color: white;
}


@media only screen and (max-width: 600px){
  .sidebar {font-size: 50%}
  .content {font-size: 40%}
  .header {font-size: 30%}
  .box {grid-template-rows: 7% 1fr; grid-template-columns: 20% 88%;}
  .rewe-logo {height: 27px; width: 30px;margin-left: 4%;}
  .müller-logo{height: 12px; width: 48px;margin-left: 4%;}
  .dm-logo{height: 27px; width: 39px;margin-left: 4%;}
  .aldi-logo{height: 31px; width: 27px;margin-left: 5%;}
  .cssdesign {margin-left: 10px; font-size: 50%; width: 60px;  }
  .suchleistelinks{margin-left: 0px;}
  .listeneinträge-Startseite{font-size: 120%; margin-left: 10px; margin-right: 10px;}
  .viedoanpassen {margin-top: 50px;margin-left: 5%; margin-bottom: 20px;text-align: center;width: 220px; height: 100px;margin-top: 20px;}
  .farbenauswahl {margin-left: 20%;}
  .sidebar-neueListe{padding-left: 2px;}
  .listeneinträge{font-size: 150%; margin-right: 0px;padding-left: 10px; padding-right: 150px;}
  .button1{font-size: 60%}
  .datumsanzeige{margin-left: 31%}
  .headeroriginal{margin-left: 4%}
  .startseitetext{margin-left: 0px; margin-right: 5px;}
  .listeneinträge {margin-left: 5px; padding-top: 8px;}
  .button{font-size: small;}
  .input [type="checkbox" i] {font-size: small; margin-left: 10px;}
  .sidebar-Header{text-align: left}
}

/* @media only screen and (max-width: 1350px){ */
  /* .sidebar {font-size: 80%}
  .content {font-size: 80%}
  .header {font-size: 80%}
  .box {grid-template-rows: 10% 1fr; grid-template-columns: 20% 88%;}
  .rewe-logo {height: 40px; width: 45px;margin-left: 8%;}
  .müller-logo{height: 18px; width: 72px;margin-left: 8%;}
  .dm-logo{height: 39px; width: 60px;margin-left: 8%;}
  .aldi-logo{height: 45px; width: 39px;margin-left: 8%;}
  .cssdesign {margin-left: 250px; font-size: 50%; width: 350px;  }
  .suchleistelinks{margin-left: 5px;}
  .listeneinträge-Startseite{font-size: 140%; }
  .viedoanpassen {margin-top: 50px;margin-left: 25%; margin-bottom: 20px;text-align: center;width: 400px; height: 300px;}
  .farbenauswahl {margin-left: 31%;}
  .sidebar-neueListe{padding-left: 2px;}
  .listeneinträge{font-size: 150%;}
  .button1{font-size: 80%}
  .datumsanzeige{margin-left: 39%}
} */